# ── Python ─────────────────────────────────────────────────────────────────────
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.egg-info
*.egg

# ── Virtual Environments ──────────────────────────────────────────────────────
venv/
venv2/
.venv/


# ── Environment Variables ──────────────────────────────────────────────────────



# ── IDE / Editor ──────────────────────────────────────────────────────────────
.vscode/
*.swp
*.swo
*~


