body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e293b);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  width: 750px;
  background: #1e293b;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(59, 130, 246, 0.3);
  text-align: center;
}
.compiler-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.compiler-box h2 {
  color: black;
}

#languageSelect {
  padding: 10px;
  margin-bottom: 10px;
}

h2 {
  margin: 0;
  font-size: 28px;
}

h3 {
  margin-top: 10px;
  color: #22c55e;
}

#text {
  background: #020617;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
}

textarea {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  border: none;
  padding: 15px;
  font-size: 16px;
  outline: none;
  background: #020617;
  color: white;
  resize: none;
}

button {
  margin-top: 15px;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  background: #3b82f6;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #2563eb;
  transform: scale(1.05);
}

.stats {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.stats p {
  background: #020617;
  padding: 10px;
  border-radius: 10px;
  width: 30%;
}

.correct {
  color: #22c55e;
}

.wrong {
  color: #ef4444;
}

#progress {
  height: 6px;
  background: #22c55e;
  margin-top: 15px;
  border-radius: 10px;
  width: 0%;
  transition: 0.3s;
}

#result {
  margin-top: 15px;
  font-size: 16px;
  color: #38bdf8;
}
